
footer{
    background-color: #14213d;
    background: e0e0e0;
    padding-top: 30px;
    margin-top: 50px;
    justify-content: center;
}
.footer-contents{
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: center;
}
.contents{
    width: 30%;
}
h6{
    font-size: 30px;
    margin-bottom: 18px;
    font-size: 28px;
    color: royalblue;
}
.footer-contents p{  
      width: 200px;
    margin: auto;
    padding: 3px;
    color: #e5e5e5;

}
.contents{
    display: flex;
    flex-direction: column;
    margin-left: 14rem;
    margin-right: 10rem;
}
.list{
    gap:5px;
    font-size: 30px;
    color: skyblue;
     width: 10px;
    height: 10px;
}
.list li{
    width: 100px;
    text-align: center;
    list-style-type: none;
    padding: 3.5px;
    font-size: 23px;
    position: relative;
    color: gold;
}
.list li::before{
    content: "";
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 100%;
    width: 0;
    height: 2px;
    background-color: white;
    transition-duration: 5s;
}
.list a{
    color: #e8f0fe;
    margin-left: 10px;
}
.list li:hover::before{
    width: 70px;
}
.contents ul{
    list-style: none;
    margin-right: 14rem;
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.social-icons{
    text-align: center;
    padding: 0;
    display: flex;
    
}
.social-icons li{
    display: inline-block;
    text-align: center;
    padding-top: 1rem;
}
a{
    text-decoration: none;
}
a:hover{
    color: royalblue;
}
.social-icons i{
    font-size: 35px;
    color: #E5E5E5;
}
.social-icons i:hover{
    color: royalblue;
}
.bottom-bar{
    background: #081b29;
    text-align: center;
    padding: 10px 0;
    margin-top: 50px;
}
.bottom-bar p{
    color: #E5E5E5;
    margin: 0;
    font-size: 20px;
    padding: 7px;
}
.footer-content img{
    margin-left:20px ;
}



