

/* Header container styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 120px;
    margin-bottom: 2px;
    box-shadow: 1px 1.5px 5px black;
}

.header-container .logo {
    width: fit-content;
    height: fit-content;
    margin-left: 120px;
}

.header-container .nav-links {
    display: flex;
    gap: 1rem;
}

/* Navigation links styles */
.nav-links ul {
    list-style: none;
}

.nav-links .links ul {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 2rem;
    /* margin-right: /; */
}

.nav-links .links-mobile ul {
    display: none;
    /* flex-direction: column; */
    font-size: 1rem;
    font-weight: bold;
    gap: 2rem;
    /* margin-right: /; */
}

.header-dropdown {
    display: none;
}


/* Navigation link hover and active state */
/* .nav-links a:hover, .active { } */

/* Header button styles */
.header-button {
    width: 100px;
    color: white;
    padding: 1rem;
    background-color: #fc9440;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    margin-right: 80px;
}

/* Header button hover effect */
.header-button:hover {
    background-color: black;
      color: white;
}

@media all and (max-width: 1300px) {
    .header-container .nav-links {
        gap: 30px;
    }

    /* Navigation links styles */
    .nav-links .links ul {
        font-size: 1rem;
        gap: 25px;
    }
}



@media all and (max-width: 950px) {
    .nav-links .links ul {
        display: none;
    } 

    .header-dropdown {
        display: block;
    }
    
    /* Header button styles */
    .header-button {
        height: 50px;
        margin-right: 40px;
    }
}   
@media all and (max-width: 650px) {
    .header-container .logo {
        margin-left: 50px;
    }
}

/* End of Header section */














