* {
    padding: 0;
    margin: 0;
}
/* Reset body styles and set background and font */
body {
    height: fit-content;
    overflow-x: hidden;
    overflow-y: visible;
    background-color: rgb(240, 240, 240);
    font-family: poppins, sans-serif;
    font-size: 62.5%;
}

/* Header container styles */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 120px;
    margin-bottom: 2px;
    box-shadow: 1px 1.5px 5px black;
}

.header-container .logo {
    width: fit-content;
    height: fit-content;
    margin-left: 120px;
}

.header-container .nav-links {
    display: flex;
    gap: 1rem;
}

/* Navigation links styles */
.nav-links ul {
    list-style: none;
}

.nav-links .links ul {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    font-weight: bold;
    gap: 2rem;
    /* margin-right: /; */
}

.nav-links .links-mobile ul {
    display: none;
    /* flex-direction: column; */
    font-size: 1rem;
    font-weight: bold;
    gap: 2rem;
    /* margin-right: /; */
}

.header-dropdown {
    display: none;
}


/* Navigation link hover and active state */
/* .nav-links a:hover, .active { } */

/* Header button styles */
.header-button {
    width: 100px;
    color: white;
    padding: 1rem;
    background-color: #fc9440;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    margin-right: 80px;
}

/* Header button hover effect */
.header-button:hover {
    background-color: black;
      color: white;
}

@media all and (max-width: 1300px) {
    .header-container .nav-links {
        gap: 30px;
    }

    /* Navigation links styles */
    .nav-links .links ul {
        font-size: 1rem;
        gap: 25px;
    }
}



@media all and (max-width: 950px) {
    .nav-links .links ul {
        display: none;
    } 

    .header-dropdown {
        display: block;
    }
    
    /* Header button styles */
    .header-button {
        height: 50px;
        margin-right: 40px;
    }
}   
@media all and (max-width: 650px) {
    .header-container .logo {
        margin-left: 50px;
    }
}

/* End of Header section */














/* Main page section with background image */
.mainPage-section {
    
    /* width: 100dvw; */
    background-image: url(images/lostfound.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    padding-top: 7rem;
    width: 100vw;
    height: 500px;
    display: flex;
    justify-content: space-around;
}

/* Main page container */
.mainPage {
    width: 550px;
    align-items: center;
}
/* Main heading styles */
.mainPage h1 {
    font-family: 'Time New Roman';
    font-size: 2rem;
    color: black;
}

/* Highlighted text colors */
.mainPage .find {
    color: black;
}
.mainPage .recover {
    color: white;
}

/* Main page text styles */
.mainPage .text {
    font-size: 2rem;
    color: white;
}

/* Button base styles */

/* Lost items container */
.lost-items {
    gap: 20px;
}

/* Lost button styles */
.lost-button {
    width: 20px;
    height: 75px;
    background-color: #fc9440;
    padding: 25px 80px;
    margin-left: 4rem;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

/* Lost button hover effect */
.lost-button:hover {
    background-color: rgb(57, 161, 161);
    cursor: pointer;
    color: white;
}

/* Found button styles */
.found-button {
    background-color: green;
    margin-left: 1rem;
    padding: 25px 80px;
    border-radius: 10px;
    margin-top: 5rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}

/* Found button hover effect */
.found-button:hover {
    background-color: rgba(65, 105, 225, 0.849);
    cursor: pointer;
    color: white;
    margin-top: 4rem;
}

/* Image styling */
.image-22 {
    padding: 3rem;
    transition: transform 0.1s;
    margin-top: 5rem;
    margin-bottom: 5rem;
    transition: transform 0. 3s ease;
}
.image-22:hover{
        transform: translateY(-10px);
}

@media all and (max-width: 950px) {
    /* Main page section with background image */
    .mainPage-section {
        flex-direction: column;
        height: 1050px;
        align-items: center;
    }
    /* Main heading styles */
.mainPage h1 {
    font-size: 2rem;
}
}











/* Welcome section styles */
.welcome-section {
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    margin-left: 20rem;
}
/* Card wrapper styles */
   .card-wrapper {
    display: flex;
    margin-right: 50rem;
    gap: 5rem;
}


/* Card wrapper hover effect */
   .card-wrapper:hover {
    transform: translateY(-10px);
}

/* Card container styles */
   .card-container {
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    padding: 20px;
    background-color: white;
    margin-top: 6rem;
    padding-bottom: 80px;
    box-shadow: 3px 3px 4px 3px grey;
    transition: transform 0.3s ease;
}

/* Card container hover effect */
   .welcome-section.card-container:hover {
 transform: translateY(-10px);
}


/* Card image styles */
  .welcome-section.card-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
}

/* Card middle content styles */
  .card-middle {
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-grow: 1;
    font-size: 1rem;
}


/* Icon card styles */
  .welcome-section.icon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Image container for cards */
 .welcome-section #image-container {
    display: flex;
    justify-content: space-between;
    margin-right: 320px;
    padding-top: 4rem;
}

/* Card base styles */
 .welcome-section .card {
    background-color: white;
    height: 450px;
}

/* Card icon styles */
 .welcome-section .card-div i {
    margin-top: 10px;
    color: #fc9440;
}

/* Card heading styles */
 .welcome-section h2 {
    font-family: 'Times New Roman';
    font-size: 40px;
    justify-content: center;
    color: #fc9440;
    padding-left: 16rem;
    padding-bottom: 2rem;
}

/* Paragraph styles */
 .welcome-section p {
    font-size: 22px;
    color: black;
    margin-left: 30px;
}

/* Card button styles */
 .welcome-section .btn-card {
    width: 60%;
    height: 50px;
    padding: 0;
    background-color: rgb(15, 31, 78);
    color: #fc9440;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: auto;
    text-align: center;
    align-items: center;
     display: flex;
    justify-content: center;
}

  /* .welcome-section .btn-card { 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} */

/* Card button margin */
 .welcome-section .btn-card {
    margin-top: 50px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    align-items: center;
} 
 .welcome-section .btn-card:hover{
    background-color: black;
}










/* About section styles */
.about-section {
    height: 100vh;
    padding-top: 30rem;
    padding-left: 19rem;
    font-size: 20px;
}

/* About section headings */


h3 {
    color: #fc9440;
    font-size: 40px;
    padding-left: 30rem;
    margin-bottom: 20px;
    margin-right: 20rem;
}
 h4 {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 170px;
    color: rgb(15, 31, 78);
    margin-bottom: 20px;
}

 
/* Card box styles */
.cards-box {
    display: flex;
    padding-bottom: 5px;
    box-shadow: 0 0 20px rgba gray;
}

/* Card paragraph styles */
.cards p {
    margin-left: 50px;
    color: black;
}

/* About section cards styles */
 .cards {
    background-color: white;
    border-radius: 15px;
    height: 350px;
    width: 600px;
    gap: 100px;
    margin: 20px;
    transition: transform 0.3s ease;
     box-shadow: 3px 3px 4px 3px grey;
}

/* Cards hover effect */
.cards:hover {
    transform: translateY(-10px);
}

/* Card box margin styles */
.cards-box {
    display: flex;
    margin-left: -300px;
    margin-top: 100px;
}









/* Community section styles */
.community-section {
    height: 70vh;
    /* padding-top: 6rem; */
    padding-left: 19rem;
    font-size: 20px;
    font-weight: bold;
}

/* Community section button styles */
.community-section .btn-community {
    justify-content: center;
    align-items:center;
    display: flex;
    width: 400px;
    height: 90px;
    margin-left: 400px;
    margin-bottom: 3rem;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
    border-radius: 6rem;
    background-color: white;
    border: none;
    box-shadow: 3px 3px 4px 3px grey;
}

/*butt hover style*/
.btn-community:hover{
    background-color:  royalblue;
    color: white;
}

/* Butt margin styles */
.btn-community {
    margin-top: 8rem;
}

/* Community section heading styles */
h5 {
    font-size: 30px;
    margin-top: 20px;
    margin-left: 500px;
    color: #fc9440;
    margin-bottom: 20px;
    font-weight: bold;
}

/* Community section paragraph styles */
.community-section p {
    font-style: italic;
    font-size: 22px;
    margin-right: 20rem;
}